html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
}

.oppdal-input {
	min-width: 300px;
	min-height: 25px;
	margin: 5px;
}
.oppdal-select {
	min-width: 300px;
	min-height: 25px;
	margin: 5px;
}
.oppdal-button {
	padding: 10px 50px 10px 50px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background: #FFF;
	color: #004a7c;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.oppdal-button:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	color: #fff;
	background: #004a7c;
	transition: all 0.5s ease;
}
.oppdal-title {
	font-size: 26px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
	cursor: pointer;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
